.img-container {
  position: relative; /* Required for absolute positioning of the image */
  max-height: 100vh; /* Set container height to full viewport height */
  display: flex; /* Center image horizontally */
}

#moving-image {
  position: fixed; /* Keep image positioned relative to viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center image initially */
  border-radius: 50%; /* Make image circular */
  width: 150px; /* Adjust image size as needed */
  height: 150px; /* Adjust image size as needed */
  transition: transform 0.5s ease; /* Smooth transition effect */
}

/* New CSS for animation threshold and reset positioning */
.img-container.scrolled {
  overflow-y: scroll; /* Enable scrolling when threshold is reached */
}

#moving-image.scrolled {
  position: absolute; /* Reposition image for smoother animation */
  top: -50; /* Reset top position at threshold */
  left: -50; /* Reset left position at threshold */
  transform: none; /* Remove initial translation */
}

/* video */
.cover-video {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: grayscale(10%);
}

@media only screen and (min-width: 769px) and (max-width: 1900px) {
  .cover-video {
    width: 48%;
  }
}
